<!DOCTYPE html>
html(lang=__('language.id'))
    head
        title Deep URL-Shortener - Make long urls shorter than before
        link(rel='canonical', href='https://sh-rt.ovh/')
        link(rel="stylesheet", href="/css/style.css")
        link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
        link(rel='icon', type="image/png", href='/img/icons/icon-72x72.png' sizes="72x72")
        link(rel='icon', type="image/png", href='/img/icons/icon-96x96.png' sizes="96x96")
        link(rel='icon', type="image/png", href='/img/icons/icon-128x128.png' sizes="128x128")
        link(rel='icon', type="image/png", href='/img/icons/icon-144x144.png' sizes="144x144")
        link(rel='icon', type="image/png", href='/img/icons/icon-152x152.png' sizes="152x152")
        link(rel='icon', type="image/png", href='/img/icons/icon-192x192.png' sizes="192x192")
        link(rel='icon', type="image/png", href='/img/icons/icon-384x384.png' sizes="384x384")
        link(rel='icon', type="image/png", href='/img/icons/icon-512x512.png' sizes="512x512")
        link(rel='apple-touch-icon', href='/img/icons/icon-152x152.png')
        script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js' defer)
        link(rel='manifest', href='/manifest.json')
        script(src='/js/script.js', type='text/javascript' async)
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(charset='UTF-8')
        meta(name='robots', content='nofollow')
        meta(name='title', content='Deep URL-Shortener - Make long urls shorter than before')
        meta(name='description', content=__('meta.description'))
        meta(name='keywords', content='DeepShortener, url shortener, url-shortener, short url, short link, long url, my url is too long, free')
        meta(name='author', content='DeepRobin (Robin Lindner)')
        meta(name='theme-color', content='#9980FA')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='orange')
        meta(name='apple-mobile-web-app-title', content='DeepShortener')
        meta(name='msapplication-TileImage', content='images/icons/icon-144x144.png')
        meta(name='msapplication-TileColor', content='#9980FA')
        meta(name='twitter:title', content='DeepRobins URL-Shortener')
        meta(name="twitter:card", content=__('meta.description'))
        meta(name='twitter:creator', content='@deeprobin_')
        meta(name="twitter:image", content="/img/background.svg")
        meta(name="fb:app_id", content="533861763746351")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(property="og:title", content="DeepShortener")
        meta(property="og:description", content=__('meta.description'))
        meta(property="og:type", content="website")
        meta(property="og:url", content="https://sh-rt.ovh")
        meta(property="og:image", content="/img/background.svg")
    body
      #top
        h1 Robins URL Shortener - SHRT.OVH
        .only-desktop.text=__('text.description')
      div.container
        form
          input#urlInput.fail(type="url", placeholder=__('input.url.placeholder'))
          input#submit(type="button", value=__('button.submit.text'), disabled)
          input#output.not-editable(type="url", readonly)
      #snackbar=__("snackbar.copied")
      include footer.pug
