-var menu = { 'home': '/', 'terms': '/terms', 'legal-disclosure': '/legal', 'privacy-policy': '/privacy-policy' };

block link
    -var selected = 'home';

.sidebar
    each val, key in menu
        if selected === key
            a.active(href=val, data-key=key, title=__('infopages.page.' + key + '.title'))
                img.inline-img(src='/img/legal/' + key + '.svg')
                | &nbsp;
                span= __('infopages.page.' + key + '.title')
        else
            a(href=val, data-key=key, title=__('infopages.page.' + key + '.title'))
                img.inline-img(src='/img/legal/' + key + '.svg')
                | &nbsp;
                span= __('infopages.page.' + key + '.title')